* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Helvetica", "Sans-serif";
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	color:  #FF7F00;
}

h3 {
	font-size: 1.3rem;
	color: #fad6a5;
}

h4 {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: white;
}

.container {
	display: flex;
}

/* Header START */
#header {
	background: black;
	position: fixed;
	color: white;
	height: 8vh;
	width: 100%;
	z-index: 1;
	padding: 1rem 0;
}

#header .container {
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

#header .logo a {
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
}

#header .nav ul {
	list-style-type: none;
}

#header .nav ul li {
	display: inline-block;
	margin: 0 1rem;
}

#header .nav ul li a {
	cursor: pointer;
}

/* Header END */

/* Hero START */
#hero {
	/*
	Hero page reference link:
	https://aicd.companydirectors.com.au/advocacy/governance-leadership-centre/external-environment/artificial-intelligence-profoundly-changing-the-business-landscape
	*/
	background-image: url(./img/hero.png);
	height: 100vh;
	background-size: cover;
	background-position: left center;
	position: relative;
	z-index: 0;
}

#hero:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: black;
	z-index: -1;
}

#hero .container {
	height: 100%;
	align-items: center;
	justify-content: center;
	color: white;
}

#hero .hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#hero .hero-text h1 {
	margin-bottom: 1.5rem;
}

#hero .hero-text div {
	line-height: 1.5rem;
}

#hero .hero-text a {
	display: block;
	color: white;
	border: solid 1px white;
	padding: 1rem;
	font-size: 1.5rem;
	margin-top: 3rem;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	letter-spacing: .1rem;
	font-weight: 600;
}

#hero .hero-text a:hover {
	background-color: #FF7F00;
	border: solid 1px#FF7F00;
}
/* Hero END */

/* Skills START */
#skills .container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 5rem 0;
	flex-direction: column;
}

#skills .all-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5rem 0; 
}

#skills .skill-item {
	width: 23%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
}

#skills .skill-item > h3 {
	margin-top: 1.5rem;
}

#skills img {
	-webkit-transition: 1s ease transform;
	-moz-transition: 1s ease transform;
	-o-transition: 1s ease transform;
}

#skills .skill-item:hover img {
	transform: scale(1.2);
}
/* Skills END */

/* About START */
#about {
	background: #f8f9fa;
}

#about .container {
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 8rem 0;
}

#about .about-content {
	margin: 3rem 0;
}

#about .about-content p {
	text-align: center;
	line-height: 2rem;
}

#about a {
	display: block;
	color: black;
	border: solid 1px black;
	border-radius: 3px;
	cursor: pointer;
	padding: 1rem;
	font-size: 1.5rem;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	letter-spacing: .1rem;
	font-weight: 600;
}

#about a:hover {
	background-color: #FF7F00;
	border: solid 1px#FF7F00;
	color: white;
}
/* About END */

/* Contact START */
#contact .container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 5rem 0;
	flex-direction: column;
}

#contact .contact-details {
	display: flex;
	justify-content: space-between;
	margin: 5rem 0;
}

#contact .contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 32%;
}

#contact .contact-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #D3D3D3;
}

#contact .contact-logo i {
	font-size: 3rem;
	color: white;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#contact .contact-logo:hover i {
	transform: scale(1.4);
	color: #FF7F00;
}

#contact .contact-item > h3 {
	margin: 0.5rem 0;
}

#contact .contact-item div:nth-of-type(2) {
	margin: 0.5rem 0;
}
/* Contact END */

/* Projects START */

/* Projects END */

/* Footer START */
#footer .container {
	flex-direction: column;
	align-items: center;
	background: #333;
	color: white;
	padding: 3rem 0;
}

#footer .container div {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
/* Footer END */