@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Spline Sans', sans-serif;
}

h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  color: #FF7F00;
}

h3 {
  font-size: 1.3rem;
  color: #fad6a5;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unscrollable {
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Contact me START */
#contact-me {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 200;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

#contact-me.fade-in {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

#contact-me.fade-out {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

#contact-me .container {
  background-color: white;
  width: 700px;
  padding: 1.5rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-me .container .contact-me-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#contact-me .container .contact-me-form h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#contact-me .container .contact-me-form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-me .container .contact-me-form .user-details input {
  width: 49%;
}

#contact-me .container .contact-me-form input, #contact-me .container .contact-me-form textarea, #contact-me .container .contact-me-form button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  outline: none;
}

#contact-me .container .contact-me-form input {
  height: 3rem;
}

#contact-me .container .contact-me-form textarea {
  resize: none;
}

#contact-me .container .contact-me-form button {
  color: white;
  cursor: pointer;
  background-color: #FFA500;
  border: solid 1px #FFA500;
  -webkit-transition: background-color 1s ease, border 1s ease;
  transition: background-color 1s ease, border 1s ease;
  padding: 0.75rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
}

#contact-me .container .contact-me-form button:hover {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
}

#contact-me .container .contact-me-form .close {
  color: #999494;
  font-size: 40px;
  line-height: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

#contact-me .container .contact-me-form .close:hover {
  color: #858181;
}

/* Contact me END */
/* Header START */
#header {
  background: transparent;
  opacity: 0.98;
  position: fixed;
  height: 9vh;
  width: 100%;
  z-index: 100;
  padding: 1rem 0;
  -webkit-transition: background-color 0.75s ease, color 0.75s ease, height 1s ease;
  transition: background-color 0.75s ease, color 0.75s ease, height 1s ease;
}

#header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

#header a {
  font-weight: 600;
  letter-spacing: .1rem;
}

#header .logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

#header .nav-links.change a:hover {
  color: #FF7F00;
}

#header .nav-links ul {
  list-style-type: none;
}

#header .nav-links ul li {
  display: inline-block;
  margin: 0 1rem;
}

#header .nav-links ul li a {
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

#header .nav-links ul li a:hover {
  color: #FF7F00;
}

#header .nav-links.change ul li a {
  color: black;
}

#header .nav-links.active ul li a:hover {
  color: #FF7F00;
}

#header.scrolled {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px #888888;
          box-shadow: 0px 0px 10px #888888;
  height: 10vh;
}

#header.scrolled .hamburger:after {
  border: 2px solid black;
}

#header.scrolled .logo a {
  color: black;
}

#header .hamburger {
  height: 45px;
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .hamburger .bars {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header .hamburger .bars .strip {
  height: 3px;
  background-color: white;
}

#header .hamburger:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-animation: hamburger-beacon 1s linear infinite;
          animation: hamburger-beacon 1s linear infinite;
}

#header .hamburger.change {
  border: 2px solid black;
}

#header .hamburger.change .strip {
  background-color: black;
}

/* Header END */
/* Hero START */
#hero {
  /*
	Hero page background-image reference link:
	https://negativespace.co/abstract-laser-background/
	*/
  background-image: url(../img/negative-space-abstract-chaotic-colors-6.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}

#hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  z-index: -1;
}

#hero .container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#hero .hero-text h1 {
  margin-bottom: 1.5rem;
}

#hero .hero-text p {
  line-height: 1.5rem;
}

#hero .hero-text .contact-me-btn {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px white;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  -webkit-transition: background-color 1s ease, border 1s ease;
  transition: background-color 1s ease, border 1s ease;
  letter-spacing: .1rem;
  font-weight: 600;
}

#hero .hero-text .contact-me-btn:hover {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
}

/* Hero END */
/* Skills START */
#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 0;
  overflow: hidden;
}

#skills .container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills .container h2 {
  -webkit-transition: 1s ease color;
  transition: 1s ease color;
}

#skills .container h2.change-heading-color {
  color: white;
}

#skills .container .all-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

#skills .container .all-skills .skill-item {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  -webkit-transition: 1s ease transform;
  transition: 1s ease transform;
}

#skills .container .all-skills .skill-item.hide1 {
  visibility: hidden;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#skills .container .all-skills .skill-item > h3 {
  margin-top: 1.5rem;
}

#skills .container .all-skills .skill-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#skills .container .all-skills img {
  -webkit-transition: 1s ease transform;
  transition: 1s ease transform;
}

#skills .show-hide-all {
  width: 130px;
  height: 130px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .show-hide-all .circle-grow, #skills .show-hide-all button {
  background-color: #FF7F00;
  border-radius: 50%;
}

#skills .show-hide-all button {
  width: 100%;
  height: 100%;
  color: white;
  border: solid 3px white;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  font-weight: 600;
  z-index: 1;
}

#skills .show-hide-all .circle-grow {
  width: 105%;
  height: 105%;
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#skills .show-hide-all .circle-grow.scale-up {
  -webkit-transform: scale(30);
          transform: scale(30);
}

/* Skills END */
/* About START */
#about {
  background: #f8f9fa;
}

#about .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 8rem 1rem;
}

#about .about-content {
  margin: 3rem 0;
}

#about .about-content p {
  text-align: center;
  line-height: 2rem;
}

#about .container > a {
  display: block;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: .1rem;
  font-weight: 600;
}

#about .container > a:hover {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
  color: white;
}

/* About END */
/* Contact START */
#contact {
  background: #f8f9fa;
}

#contact .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

#contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 32%;
}

#contact .contact-item > h3 {
  margin: 0.5rem 0;
}

#contact .contact-item div:nth-of-type(2) {
  margin: 0.5rem 0;
}

#contact .contact-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #D3D3D3;
}

#contact .contact-logo i {
  font-size: 3rem;
  color: white;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#contact .contact-logo:hover i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #FF7F00;
}

/* Contact END */
/* Projects START */
#projects .container {
  max-width: 1200px;
  padding: 5rem 0;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0;
}

#projects .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  margin: 1rem 0;
}

#projects .project-item h2 {
  margin-bottom: 1rem;
}

#projects .hover-detail {
  text-align: center;
  margin-top: 2rem;
}

#projects .project-image {
  cursor: pointer;
  position: relative;
}

#projects .project-image:hover .project-description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .project-image:hover .project-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: black;
  opacity: .9;
}

#projects .project-content {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

#projects .project-content p {
  margin: 0.5rem 0;
  color: white;
}

#projects .project-content h2 {
  color: white;
}

#projects .project-content a {
  color: #FF7F00;
  margin-top: 1rem;
  text-align: center;
}

#projects .project-content a:hover {
  color: #fad6a5;
}

#projects .project-description {
  padding: 1rem 4rem;
  display: none;
}

/* Projects END */
/* Footer START */
#footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  color: white;
  padding: 3rem 0;
}

#footer .container div {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/* Footer END */
/* Hamburger Beacon effect */
@-webkit-keyframes hamburger-beacon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes hamburger-beacon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

/* MEDIA QUERIES */
/* DESKTOP */
@media screen and (max-width: 1199px) {
  #projects .project-item {
    width: 98%;
  }
}

@-webkit-keyframes circle-growth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
}

@keyframes circle-growth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
}

/* TABLETS */
@media screen and (max-width: 991px) {
  #header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #header .hamburger.active {
    border: 2px solid black;
  }
  #header .hamburger.active div {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  #header .hamburger.active:after {
    border: 2px solid black;
  }
  #header .hamburger.active .strip:nth-of-type(1) {
    width: 30px;
    -webkit-transform: rotate(45deg) translate(4px, 5px);
            transform: rotate(45deg) translate(4px, 5px);
  }
  #header .hamburger.active .strip:nth-of-type(2) {
    display: none;
  }
  #header .hamburger.active .strip:nth-child(3) {
    width: 30px;
    -webkit-transform: rotate(-45deg) translate(4px, -6px);
            transform: rotate(-45deg) translate(4px, -6px);
  }
  #header .hamburger.active .strip {
    background-color: black;
  }
  #header .nav-links {
    position: fixed;
    -webkit-box-shadow: 0px 0px 10px #888888;
            box-shadow: 0px 0px 10px #888888;
    background-color: white;
    padding: 1rem;
    width: 30%;
    height: 100%;
    right: -100%;
    top: 0;
    z-index: -1;
    opacity: 0.5;
    -webkit-transition: right 2s ease, opacity 1.5s ease;
    transition: right 2s ease, opacity 1.5s ease;
  }
  #header .nav-links:hover {
    opacity: 0.98;
  }
  #header .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .nav-links.active {
    right: 0;
  }
  #header .nav-links.active ul li a {
    color: black;
  }
  #header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3rem;
  }
  #header .nav ul li {
    display: block;
    margin: 2rem 0;
  }
  #header .nav ul li a {
    font-size: 1.3rem;
  }
}

/* SMALLER TABLETS */
@media screen and (max-width: 767px) {
  #skills .container .all-skills .skill-item {
    width: 48%;
  }
  #skills .container .all-skills .skill-item.hide2 {
    visibility: hidden;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  #contact .contact-item {
    width: 48%;
  }
}

/* PHONE */
@media screen and (max-width: 575px) {
  h2 {
    font-size: 1.7rem;
  }
  #skills .container .all-skills .skill-item img {
    width: 80px;
    height: 80px;
  }
  #skills .container .all-skills .skill-item h3 {
    font-size: 1rem;
  }
  #skills .show-hide-all {
    width: 115px;
    height: 115px;
  }
  #skills .show-hide-all button {
    font-size: 0.9rem;
  }
  #contact .contact-item {
    width: 98%;
  }
  #header .nav ul li a {
    font-size: 0.9rem;
  }
  #projects .project-image img {
    width: 375px;
    height: 375px;
  }
  #projects .project-content p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
  }
  #projects .project-content h2 {
    font-size: 1.5rem;
  }
  #projects .project-content a {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  #projects .project-description {
    padding: 0.5rem 2rem;
    display: none;
  }
  #hero .hero-text {
    margin: 0 0.5rem;
  }
  #about .about-content p {
    margin: 0 1rem;
  }
  #header .container {
    padding: 0 1rem;
  }
  #contact-me .container .contact-me-form .user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-me .container .contact-me-form .user-details input {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
  #projects .all-projects h2 {
    font-size: 1rem;
  }
  #projects .all-projects p {
    font-size: 0.7rem;
  }
  #projects .all-projects a {
    font-size: 0.7rem;
  }
  #projects .all-projects img {
    width: 300px;
    height: 300px;
  }
}

#skills.show-all .container .all-skills .skill-item {
  visibility: visible;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=styles.css.map */